* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #b81438, #8b25cf);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right, rgba(6, 90, 24, 0.6),
   rgba(11, 133, 82, 0.781));
  border-radius: 2rem;
  z-index: 10;
  backdrop-filter: blur(1rem);
}
